# Docker Compose configuration for development
# docker-compose up
services:
  db:
    ports:
      - "5432:5432"

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev # Use the dev specific Dockerfile
    volumes:
      - ./backend/src:/app/src # mount only the source code for live reload
      - ./backend/package.json:/app/package.json # keep package.json updated
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
    ports:
      - "4000:4000"
    command: npm run dev # use nodemon for live reload

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev # Use the dev specific Dockerfile
    volumes:
      - ./frontend/src:/app/src # mount source code for live reload
      - ./frontend/public:/app/public # Mount public assets
    environment:
      - CHOKIDAR_USEPOLLING=true # Ensure file changes are detected in Docker
      - VITE_API_URL=http://localhost:4000
    ports:
      - "5173:5173"
    command: npm run dev
    depends_on:
      - backend
