.note-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 100px;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgb(241, 241, 241);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
